
    <section id="registro">
        <h2>Registro de Vehículos</h2>
        <form>
            <label for="placa">Placa:</label>
            <input type="text" id="placa" name="placa" [(ngModel)]="vehiculo.placa">
            
            <label for="tipoVehiculo">Tipo de Vehículo:</label>
  <select id="tipoVehiculo" name="tipoVehiculo" [(ngModel)]="vehiculo.tipo_vehiculo">
    <option value="auto">Auto</option>
    <option value="moto">Moto</option>
    <option value="camion">Camión</option>
    <option value="camioneta">Camioneta</option>
  </select>
          
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" [(ngModel)]="vehiculo.color">
          
            <button (click)="guardar()">Registrar</button>
        </form>
    </section>  