 <div class="historial-ticket-container">
  <h2>Historial de parqueo</h2>

  <div class="tabla-datos-container">

    <div class="fecha-container">
      <mat-form-field>
        <mat-label>Fecha:</mat-label>
        <input matInput [matDatepicker]="picker" (dateChange)="onFechaSeleccionada($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    
    <div class="tabla-container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let row"> {{ row.ticket.fecha }} </td>
        </ng-container>
  
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef> Hora </th>
          <td mat-cell *matCellDef="let row"> {{ row.hora }} </td>
        </ng-container>
  
        <ng-container matColumnDef="placa">
          <th mat-header-cell *matHeaderCellDef> Placa </th>
          <td mat-cell *matCellDef="let row"> {{ row.placa }} </td>
        </ng-container>
  
        <ng-container matColumnDef="tipoVehiculo">
          <th mat-header-cell *matHeaderCellDef> Tipo de Vehículo </th>
          <td mat-cell *matCellDef="let row"> {{ row.tipo_vehiculo }} </td>
        </ng-container>
  
        <ng-container matColumnDef="horaEntrada">
          <th mat-header-cell *matHeaderCellDef> Hora de Entrada </th>
          <td mat-cell *matCellDef="let row"> {{ row.ticket.hora_entrada }} </td>
        </ng-container>
  
        <ng-container matColumnDef="horaSalida">
          <th mat-header-cell *matHeaderCellDef> Hora de Salida </th>
          <td mat-cell *matCellDef="let row"> {{ row.ticket.hora_salida }} </td>
        </ng-container>
  
        <ng-container matColumnDef="lugar">
          <th mat-header-cell *matHeaderCellDef> Lugar </th>
          <td mat-cell *matCellDef="let row"> {{ row.ticket.puestoAsignado}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>
   
 
